<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style2.css">

</head>

<body>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <legend>Confirmación de la reserva</legend>
        <br>
        <br>
        <h6>Detalles del vuelo de salida</h6>
        <div class="Filtros">
            <div class="row">
                <div id="resultSalida">


                </div>
            </div>

        </div>
        <h6>Detalles del vuelo de regreso</h6>
        <div class="Filtros">
            <div class="row">
                <div id="resultRegreso">


                </div>
            </div>

        </div>
        <br>
        <br>
        <h6>Datos del pasajero</h6>
        <div class="Filtros">
            <form id="myForm" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-3">
                        <label for="lastName" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="lastName" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Por favor, proporciona un nombre válido.</div>
                    </div>
                    <div class="col-md-3">
                        <label for="firstName" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="firstName" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Por favor, proporciona un apellido válido.</div>
                    </div>
                    <div class="col-md-3">
                        <label for="birthday" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="birthday" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Por favor, proporciona una fecha de nacimiento válida.</div>
                    </div>
                    <div class="col-md-3">
                        <label for="passportNumber" class="form-label">Número pasaporte</label>
                        <input type="number" class="form-control" id="passportNumber" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Por favor, proporciona un número de pasaporte válido.</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="input5" class="form-label">País de pasaporte</label>
                        <div class="col-sm-10">
                            <input type="hidden" id="selected_Countries_id" name="selected_Countries_id" value="">
                            <input type="text" list="Countries_id" class="form-control" name="Countries_id"
                                id="Countries_id">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="input6" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="phone" placeholder="57 +" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Por favor, proporciona un número de teléfono válido.</div>
                    </div>
                    <div class="col-md-3">
                        <label for="input6" class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="@" id="email" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Por favor, proporciona un número de teléfono válido.</div>
                    </div>
                    <div class="col-md-3">
                        <label for="formFile" class="form-label">Imagen pasaporte</label>
                        <input class="form-control" type="file" id="formFile">

                    </div>
                    <br>


                    <div class="col-md-3">
                        <br>
                    </div>
                    <br>
                </div>
                <br>
            </form>
            <button class="btn btn-outline-secondary" onclick="guardar()">Aplicar</button>
        </div>



        <div class="Row">
            <h6>Lista de pasajeros:</h6>
            <table class="table table-hover">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">Selecione</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Número de pasaporte</th>
                        <th scope="col">país de pasaporte</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Foto Pasaporte</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="resultData">


                </tbody>
            </table>
            <!-- Tercera fila: Botón -->
            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <a href="../Operational/Reserva.html">
                        <button type="button"  class="btn btn-outline-secondary">Regresar a
                            buscar buelos</button>

                    </a>
                  
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-secondary"  onclick="Confirmacion()" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Confirmar reserva
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmación facturación</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    
                                    <h3 id="precio-final">Valor: </h3>
                                    
                                    <br>
                                    
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              Tarjeta de Crédito
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                              Efectivo
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                              Comprobante de pago
                                            </label>
                                          </div>

                                    

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar </button>
                                    <button type="button" class="btn btn-primary" onclick="modificar()">Emitir boletos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"></script>

    <script src="/js/Operational/confirmacion.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        loadCountries();
        loadReserva();
        loadData();

    </script>

</body>

</html>